@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;

  font-size: calc(100vw / 1920 * 10);
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;

  padding: 0;
  margin: 0;
}

.logo {
  font-size: 3.4rem;
  color: #3C2A21
}

.light-bg {
  background: #FFF2C7;
}

.dark-bg {
  background: #3C2A21;
}

.light-text {
  color: #FFF2C7;
}

h1 {
  font-family: "Baloo Da 2", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

p {
  font-size: 1.6rem;
  color: #3C2A21
}

@media(max-width: 1024px) {
  html {
    font-size: calc(100vw / 768 * 10);
  }
}

@media(max-width: 767px) {
  html {
    font-size: calc(100vw / 500 * 10);
  }
}

@media(max-width: 500px) {
  html {
    font-size: calc(100vw / 414 * 10);
  }
}